@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Universal Sans';
  src: url('/fonts/Universal-Sans-Text-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Universal Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Universal Sans', sans-serif;
  color: 'rgb(23, 26, 32)';
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
